:root {
  --board-border: 1px solid black;
  --board-size: 500px;
}

.app {
  position: relative;
  width: var(--board-size);
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  font-size: 30px;
}

.new-game-button {
  position: absolute;
  top: 150px;
  right: 0;
}

.board {
  width: 100%;
  height: var(--board-size);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  border-top: var(--board-border);
  border-left: var(--board-border);
}

.game-over-overlay {
  position: absolute;
  width: 100%;
  height: var(--board-size);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 36px;
  font-weight: bold;
}

.game-over-text {
  margin-bottom: 10px;
}
